 {# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "#"
            }]
        }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <select class="govuk-select" id="sort" name="sort">
            {% for item in projects %}
              <option value="published">{{item.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{projectOverview.project.name}}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">Sessions & Traces</h2>
          <h2 class="govuk-heading-s govuk">Total sessions tracked:</h2>
          <h2 class="govuk-heading-l govuk"><a href="/project/{{projects[0].id}}/sessions" class="govuk-link">{{ projectOverview.totals.session_count }}</a></h2>
          <h2 class="govuk-heading-s govuk">Total traces tracked:</h2>
          <h2 class="govuk-heading-l govuk">{{ projectOverview.totals.thread_count }}</h2>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">Model cost</h2>
          <h2 class="govuk-heading-s govuk">Total cost:</h2>
          <h2 class="govuk-heading-l govuk">£1.40</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Model</th>
                <th scope="col" class="govuk-table__header">Tokens</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for item in projectOverview.modelsUsage %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ item.model }}</th>
                <td class="govuk-table__cell">{{ item.total_tokens }}</td>
                <td class="govuk-table__cell">£1.40</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">Threads by day</h2>
          <canvas id="graph1"></canvas>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">Model Usage</h2>
          <canvas id="graph2"></canvas>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">User consumption</h2>
          <canvas id="graph3"></canvas>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div>
          <h2 class="govuk-heading-m govuk">Average latency</h2>
          <canvas id="graph4"></canvas>
        </div>
      </div>
    </div>
  </div>
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>
<script>
  const threadsPerDay = {{ projectOverview.threadGraphData | dump | safe  }}

  const graph1 = document.getElementById('graph1');
  chart.lineChartWithData(graph1, '# of threads', threadsPerDay)

  const graph2 = document.getElementById('graph2');
  chart.lineChart(graph2)

  const graph3 = document.getElementById('graph3');
  chart.lineChart(graph3)

  const graph4 = document.getElementById('graph4');
  chart.barChart(graph4)
</script>
{% endblock %}


